<h1 style="text-align:center">Articles</h1>
<div id="article-list">
  <table>
    <tbody>
        <% @articles.each do |article| %>
        <%= render :partial => "article", :locals => { :article => article } %>
        <% end %>
      </tbody>
  </table>
</div>

<br>
<%= link_to 'New Article', new_article_path %>
