@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
#background_nav {
  background-color: #404040;
}

.navbar-default .navbar-nav li a {
  color: #DFDFDF;
}

.navbar-default .navbar-nav li a:hover {
  color: white;
}

.navbar-default .dropdown-menu li a {
  color :#777;
}
.navbar-default .dropdown-menu:hover li a {
  color: black;
}

.navbar-default .navbar-brand {
  color: #DFDFDF;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.nav-pills li a {
  background-color: #f1f1f1;
  color: black;
}


.nav-pills li :hover:not(.active) {
  background-color: #555;
  color: white;
}
