<div class='pull-right'>
  <a class="btn btn-primary" href="http://localhost:3000/admin/users/show#" role="button">Form</a>
</div>
<br/>
<% @users.each do |user| %>
    <%= user.email %>
    <% if user.is_member == true %>
      会员<br>
    <% else %>
      非会员<br>
    <% end %>
    <hr/>
<% end %>
总用户数量为 <%= @users.count %>人
